@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-laptop: 870px;
  --breakpoint-tablet: 500px;

  --color-myblack: #2b2a28;
  --color-ghostWhite: #f8f8ff;

  --font-robotoBold: roboto-bold;
  --font-productSansLight: productsans-light;
  --font-productSansReg: productsans-regular;
  --font-productSansBold: productsans-bold;
}

@layer components {
  .btn-black {
    @apply font-productSansReg cursor-pointer rounded-full bg-gradient-to-r from-[#2b2a28] via-[#3a3937] to-[#222220] text-white shadow-lg transition-all duration-300 hover:scale-105 hover:shadow-xl;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: #d1d5db;
  }

  hr {
    @apply h-[5px] w-40 rounded-full border-0 bg-gradient-to-r from-blue-600 via-blue-500 to-sky-400;
  }

  h1 {
    @apply laptop:text-7xl font-robotoBold text-myblack text-5xl;
  }

  h2 {
    @apply laptop:text-5xl font-robotoBold text-myblack text-4xl;
  }

  h3 {
    @apply laptop:text-4xl font-robotoBold text-myblack text-3xl;
  }

  h4 {
    @apply laptop:text-2xl font-robotoBold text-myblack text-xl;
  }

  h5 {
    @apply font-robotoBold text-myblack text-xl tracking-wider;
  }

  li,
  button,
  input,
  p {
    @apply font-productSansLight laptop:leading-6;
  }
}
